[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/solmate"]
	path = lib/solmate
	url = https://github.com/transmissions11/solmate
[submodule "lib/2022-09-artgobblers"]
	path = lib/2022-09-artgobblers
	url = https://github.com/code-423n4/2022-09-artgobblers
[submodule "lib/murky"]
	path = lib/murky
	url = https://github.com/dmfxyz/murky
